<header>
  <div class="mini-navbar-wrap">
    <div class="logo-wrap">
      <p class="logo"><span class="logo">Marine solutions center</span></p>
    </div>

  </div>
  <nav>
    <ul>
      <li>
        <a routerLink="/">Home</a>
      </li>
      <li *ngIf="isAuthenticated">
        <a routerLink="/jobs/list" >Job seekers</a>
      </li>
      <li>
        <a routerLink="/find">Find services</a>
      </li>

      <li *ngIf="!isAuthenticated">
        <a routerLink="/auth">Authenticate</a>
      </li>
      <li *ngIf="isAuthenticated">
        <a (click)="onLogout()">Logout</a>
      </li>
    </ul>
  </nav>
</header>